@use "../../styles/partials/variables.scss" as *;

.main {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  height: 90%;
  overflow: hidden;
}

.ducky-feature {
  width: 80%;
  position: relative;
  &__article {
    border-radius: 5px;
    background-color: $alt-background-color;
    padding: 3rem 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    color: $alt-text-color;
    height: 25rem;
    gap: 1.5rem;
  }
  &__link {
    list-style: none;
    text-decoration: none;
    color: $alt-text-color;
  }
}
